@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "./assets/fonts/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-container {
  @apply w-[100%] xl:w-[1248px] mx-auto px-4;
}

.firago-normal {
  @apply font-firago font-[400];
}
.firago-medium {
  @apply font-firago font-[500];
}
.firago-semibold {
  @apply font-firago font-[600];
}
.firago-bold {
  @apply font-firago font-[700];
}

/* style overwrites for antd components */
.custom-input .ant-input,
.custom-input .ant-input-password,
.custom-addon .ant-select-selection-item {
  @apply firago-medium;
}

.custom-addon .ant-input-wrapper .ant-input-group-addon {
  @apply !bg-[rgba(221,220,220,0.95)] dark:!bg-[rgba(0,0,0,0.15)];
}

.custom-addon .ant-select-selection-item {
  @apply text-black-main;
}

.ant-form-item-explain-error,
.custom-select .ant-select-selection-item,
.custom-select .ant-select-selection-placeholder,
.ant-select-item-option-content {
  @apply firago-bold;
}

.custom-addon .ant-input-group-addon {
  @apply bg-[rgb(242,242,242)] !important;
}
.custom-addon .ant-select-arrow {
  @apply dark:text-black-main opacity-95;
}

.shadow-top {
  box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 4px;
}

/*custom scrollbar */
::-webkit-scrollbar {
  @apply w-3 h-3;
}

::-webkit-scrollbar-thumb {
  @apply bg-scrollbar-orange rounded-[10px] border-2 border-solid border-transparent bg-clip-padding;
}

::-webkit-scrollbar-thumb:hover {
  @apply border-0;
}

::-webkit-scrollbar-track {
  @apply bg-white-400 dark:bg-dark-white-400;
}
