@import './assets/fonts/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-container {
    @apply w-[100%] xl:max-w-[1280px] mx-auto px-3;
}
.firago-bold {
    @apply font-firago font-[700]
}
.firago-normal {
    @apply font-firago font-[500]
}
.custom-modal {
    @apply top-[80px] max-w-[440px];
}
.custom-modal .ant-modal-content {
    @apply rounded-[20px];
}
.custom-modal .ant-modal-close-x {
    @apply relative top-[-10px];
}
.custom-input .ant-input{
    @apply border border-solid border-gray-300 hover:border-orange-primary focus:border-orange-primary focus:shadow-none firago-normal text-sm leading-[17px] py-4 rounded-xl;
}
.custom-input .ant-input-password{
    @apply border border-solid border-gray-300 hover:border-orange-primary focus-within:border-orange-primary focus-within:shadow-none firago-normal text-sm leading-[17px] py-4 rounded-xl;
}
.custom-select .ant-select-selection-item{
    @apply text-black firago-normal;
}
.custom-select .ant-input-group-addon {
    @apply rounded-l-xl;
}
.custom-button {
    @apply firago-bold w-full h-[50px] text-sm leading-[17px] rounded-xl mt-2;
}