@import './assets/fonts/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-container {
    @apply w-[100%] xl:max-w-[1280px] mx-auto px-3;
}
.firago-bold {
    @apply font-firago font-[700];
}
.firago-normal {
    @apply font-firago font-[500];
}
.firago-semibold {
    @apply font-firago font-[600];
}
.custom-modal {
    @apply top-[80px] max-w-[440px];
}
.custom-modal .ant-modal-close-x {
    @apply relative top-[-8px];
}
.custom-input .ant-input, .custom-input .ant-input-password, .custom-select .ant-select-selection-item{
    @apply firago-normal text-black;
}
.custom-select .ant-input-group-addon{
    @apply dark:bg-[rgb(242,242,242)] opacity-95;
}
.custom-select .ant-select-arrow{
    @apply dark:text-black opacity-95;
}
.custom-button {
    @apply firago-bold w-full mt-2;
}
